/* تنسيق الحاوية */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #211c1c;
    padding: 10px;
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
}

.input {
    width: 250px;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    transition: all 0.3s ease;
    background-color: #fff;
    margin-top: 10px;
}

.input:focus {
    border: 2px solid #438758;
    outline: none;
    box-shadow: 0px 0px 20px rgba(69, 121, 85, 0.844);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

*{
    margin: 0;
}